// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

ul {
  display: inline-block;
}

li {
  list-style: none;
  padding-top: 6px;
}

a {
  text-decoration: none !important;
}

h2 {
  color:#337ab7 !important;
}

.container {
  width: 800px !important;
  margin: auto;
}

.navbar {
  height: 60px;
  background-color: lightgray;
  display: flex;
  justify-content: space-between;
  padding: 20px 60px;
  border-bottom: 1px solid grey;
  margin-bottom: 20px;
}

.navbar a {
  padding-top: 5px;
  font-family: Helvetica;
  color: grey;
  font-size: 14pt;
}
